html,
body {
  margin: 0px;
  background-image: url(./images/image-mockups.png),
    url(./images/bg-intro-desktop.svg);
  background-size: 50% 50%,50% 40%;
  background-position: 110% -10%, top right;
  background-repeat: no-repeat no-repeat;
}

html {
  font-family: 'helvetica neue', sans-serif;
}

.btn,
.btn1 {
  padding: 0.7rem 3rem 0.7rem 3rem;

  border-radius: 0.5rem;
  background-image: linear-gradient(
    to right,
    rgb(19, 245, 121),
    rgba(0, 183, 255)
  );
  align-self: center;
}

#nav-main {
  position: sticky;
  top: 0;
  background-color: white;
}

.nav {
  display: flex;
  border-bottom: 1px solid #eaeaeb;
  justify-content: space-between;
  margin-left: 6%;
  margin-right: 6%;
  
}

#image-logo {
  width: 20%;
  height: 20%;
  margin-top: 1%;
}

.menu{
  margin-top:1rem;
}


.menu a {
  text-decoration: none;
  color: gray;
  margin: 0 10px;
  
}
#toggle{
  display:none;
}
#toggle-item{
  display:none;
}
#wholecontent {
  margin-left: 6%;
  margin-right: 6%;
}

#nextgenaration {
  display: flex;
  margin-top: 15%;
  justify-content: flex-start;
}

.nextgenaration-info {
  align-self: center;
}
.mobile-logo {
  margin-top: -4rem;
  height: 130%;
}
.nextgenaration-info-head {
  font-size: 4rem;
  color: rgb(53, 45, 45);
}
.nextgenaration-info-content {
  margin-top: -20px;
  color: rgb(158, 154, 154);
}
.content {
  margin-top: 15%;
  margin-bottom: 5%;
}
.content1 {
  font-size: 3rem;
}

.bullet-point {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.content2,
.point2 {
  color: rgb(158, 154, 154);
  margin-top: 1%;
}

.point1 {
  font-size: 1.5rem;
}

#article {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
.image-a {
  width: 80%;
  height: 60%;
  border-radius: 10px;
}

#article-head {
  font-size: 3rem;
}
.article-title {
  font-size: 10px;
}

.article-info {
  font-size: 12px;
}
.article-title,
.article-info {
  color: rgb(114, 109, 109);
}
#latestarticle{
  margin-bottom:10%;
}

#article1,#article2,#article3,#article4{
  margin:1%;
}


/* .footer-part {
  margin-left: 6%;
  margin-right: 6%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  color: white;  
}

#footer {
  background: rgb(19, 11, 48);
  margin-top: 2%;
}


#image-logo-svg{
  fill:white;
}

#image-logo-svg{
  margin-top:5%;
  margin-bottom: 5%;
} */

.footer{
  background-color:rgba(3, 7, 44, 0.747);
}

.footer-part{

margin-right:9%;
margin-left:9%;
color:white;
display:grid;
grid-template-areas: 
'image-logo  about  careers btn1'
'image-logo contact  support btn1'
'social-media-post blog privacy easybank'  

}
.image-logo{
  grid-area:image-logo;
  display:flex;
  margin-left:15%;
  align-items: center;
}
.social-media-post{
  grid-area:social-media-post;
  margin-left:15%;
}

.btn{
  grid-area:btn1;
    
  
}

